// 1. Import the initial variables

// 2. Set your own initial variables
$exaltoRed: #CC0033;
$modal-head-padding: 10px;
$modal-title-size: 1.0rem;

// 3. Set the derived variables
$primary: $exaltoRed;
$modal-card-head-padding: $modal-head-padding;
$modal-card-title-size: $modal-title-size;

// 4. Setup your Custom Colors

// 5. Add new color variables to the color map.

@import "bulma";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body{
    font-family: 'Work Sans',sans-serif,sans-serif;
    color: #666;
}