// hide collapse
.collapse {
    width: 2rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
    user-select: none;

    &:hover {
        border: 1px solid black;
    }
}

// show sidemain
.side-and-main {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
    margin-top: 18px;
}

.side {
    display: inline-block;
    margin-right: 18px;
    width: 25%;
}

// show main
.main {
    width: 75%;
}

// show header
.header {
    margin-top: 16px;
}
