// actionbar
.actionbar {
    display: flex;
    justify-content: space-between;
    border-top-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: $shadow;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    align-items: baseline;

}

// navigation

.profile-popup {

    display: block;
    position: absolute;
    right: 10px;
    box-shadow: $shadow;
    background-color: white;
    padding: 1rem;

    p {
        font-weight: bold;
    }

    div{
        display: flex;
        justify-content: space-between;
        padding: 0.75rem;
        border: 1px solid $exaltoGrey;

        &:hover{
            background-color: $exaltoGrey;
            border: 1px solid black;
            cursor: pointer;
        }


    }

}

.navigationbar {
    padding-left: 16px;
    height: 40px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    background-color: $exalto;
    color: white;

    div {
        span {
            display: inline-block;
            height: 40px;
            padding: 0px 6px 0px 6px;

            &:hover {
                border: 1px solid hsl(0, 0%, 60%);
                border-bottom-color: white;
                background-color: white;

                a {
                    color: $exalto;
                    text-decoration: none;
                }

                i{
                    color: $exalto;
                }
            }

            a {
                color: rgb(255, 255, 255);
                cursor: pointer;
                display: inline;
                font-family: "Roboto Condensed", sans-serif, sans-serif;
                font-size: 14px;
                line-height: 40px;
                list-style-image: none;
                list-style-position: outside;
                list-style-type: none;
                overflow-wrap: break-word;
                text-align: left;
                text-size-adjust: 100%;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}
