.qr-item-head {
    font-weight: bold;
    text-align: center;
}

.config-panel {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.sub-panel{
    padding: 0.5rem;
    
    input[type=number]{
        display: block;
       height: 1.5rem;
       &::-webkit-outer-spin-button,
       &::-webkit-inner-spin-button {
           appearance: none;
           margin: 0;
       }
    }
    select{
        display: block;
        height: 1.5rem;
    }
}

.panel-layout {
    padding: 0.5rem;
}
