.menu-header {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: space-between;
    font-weight: bold;
}

.paginator {
    display: flex;
    padding-bottom: 16px;
    justify-content: center;

    a {
        display: inline-block;
        border: 1px solid $exaltoGrey;
        margin-right: 0.75rem;
        padding: 0.5rem;
        width: 1rem;
        height: 1rem;
        text-align: center;
        &:not(.active):hover {
            border: 1px solid black;
        }
    }

    a.active {
        display: inline-block;
        background-color: #cc0033;
        color: white;
        padding: 0.5rem;
    }
}

.side-item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 1px solid $borderColor;
    margin-bottom: 0.75rem;

    &:hover {
        border: 1px solid black;
        color: black;
        cursor: pointer;
    }

    ul {
        list-style-type: none;
        padding: 0.5rem;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        nav {
            padding: 0.5rem;
            span {
                font-size: 12px;

                b {
                    color: hsl(0, 0%, 50%);
                }
            }
        }
        input {
            width: 2rem;
            height: 2rem;
            text-align: center;
            font-size: 1rem;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}

.item-selected {
    border: 1px solid black;
    color: black;
}

.item-header {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    font-weight: bold;
}
